{% extends "skeleton.html" %}
{% block title %}
	Viewing all posts
{% endblock %}

{% block main %}
	{% if posts %}
		<h1>All posts</h1>
		<div class="row post-list">
			{% for post in posts %}
				<article class="span12 columns offset1 post">
					<h2 class="post-title"><a href="{{ post.get_absolute_url }}">{{ post.title}}</a></h2>
					<div class="post-body">
						{{ post.body|safe }}
					</div>
					<div class="post-meta">
						Posted by {{ post.author.username }} on {{ post.date_updated|date }}
					</div>
				</article>
			{% endfor %}
		</div>
	{% else %}
		<center><span class="empty label notice">Sorry man, no posts up till now</span></center>
	{% endif %}
	{% if is_paginated %}
		<div class="pagination">
	       {% if page_obj.has_previous %}
				{# TO DEFINE #}
	        	<a href="{% url blog_posts_all %}?page={{ page_obj.previous_page_number }}">previous</a>
	       {% endif %}
	        <span class="page-current">
	            Page {{ page_obj.number }} of {{ paginator.num_pages }}.
	        </span>
	        {% if page_obj.has_next %}
				{# TO DEFINE #}
	        	<a href="{% url blog_posts_all %}?page={{ page_obj.next_page_number }}">next</a>
	        {% endif %}
		</div>
	{% endif %}
{% endblock %}