{% extends "skeleton.html" %}
{% block title %}
	Create new event
{% endblock %}

{% block style %}
	<style type="text/css" media="screen">
		div.clearfix{
			margin-bottom: 20px !important;
		}
	</style>
{% endblock %}

{% block inner-title %}<h2>New Event</h2>{% endblock %}

{% block main %}
<div class="span10 offset2">
	{% if form.non_field_errors %}
     <div class="alert-message error">
             <p>{{ form.non_field_errors|striptags }}</p>
     </div>
     {% endif %}
	<form method="post">
      {% csrf_token %}
      <fieldset>
          <legend>Insert details of new event</legend>
          {% for field in form.visible_fields %}
        	{% if forloop.first %}
              {% for hidden in form.hidden_fields %}
                 {{ hidden }}
              {% endfor %}
            {% endif %}
            <div class="clearfix {% if field.errors %}error{% endif %}">
	              {{ field.label_tag }}
	              <div class="input">
                      {{ field }}
                      {% if field.errors %}
                              <span class="help-inline">{{ field.errors|striptags }}</span>
                      {% endif %}
	              </div>
            </div>
		  {% endfor %}
      <div class="secondary-action">
              <input id="login-button-form" type="submit" value="Create" class="btn primary">
      </div>
      </fieldset>
    </form>
</div>
{% endblock %}

{% block js %}
	<script src="/static/js/libs/tiny_mce/jquery.tinymce.js"></script>
	<script>
	  $(document).ready(function(){
			$('#id_body').tinymce({
				script_url : '/static/js/libs/tiny_mce/tiny_mce.js',
				theme : 'simple'
			});
		});
	</script>
{% endblock %}